@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
 
  <div class="img">
  <div class="center">
    <div class="title">Welcome</div>
    <div class="sub_title">to my Page</div>
    <div class="btns">
      <button>Go to Admin</button>
      <button>Check</button>
    </div>
  </div>
  </div>
</body>
</html>
